/* #Login {
    padding: 30px 30px 10px 30px
}

@media(max-width:768px) {
    #Login {
        padding: 10px
    }

    #Login .mainWrap form>ul.form>li>input {
        min-height: 30px !important
    }
}

#Login h2 {
    color: #06428d;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 10px 0
}

#Login input.error {
    color: #000
}

#Login .mainWrap {
    background: url(https://images.usapimg.com/sites/usap-mycart/design/login-bg.jpg) no-repeat top right;
    border: 1px solid #ccc;
    padding: 10px 15px 5px 15px;
    width: 100%
}

#Login .copy1 {
    color: #333;
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 5px 0
}

#Login .mainWrap .alert {
    padding: 6px 10px 6px 35px;
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/warning.gif) no-repeat left #f4e6e6;
    border: 1px solid #d7a6a6;
    border-radius: 0;
    font-size: 11px;
    line-height: 14px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px
}

#Login .copy2 {
    color: #666;
    display: block;
    font-size: 12px;
    margin-bottom: 10px
}

#Login .mainWrap>.title1 {
    color: #000;
    font-size: 12px;
    font-weight: bold
}

#Login .mainWrap form>ul {
    list-style: none
}

#Login .mainWrap form>ul.form>li {
    margin-bottom: 10px
}

#Login .mainWrap form>ul.form>li>label {
    color: gray;
    font-size: 11px;
    font-weight: bold;
    display: block
}

#Login .mainWrap form>ul.form>li>input {
    border: 1px solid #CCC;
    border-radius: 0;
    font-size: 12px;
    min-height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px
}

#Login .mainWrap form>ul.form>li>input:hover,
#Login .mainWrap form>ul.form>li>input:focus {
    border: 1px solid #888
}

#Login .mainWrap form>.loginBtn {
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/login-my-ac.jpg) no-repeat scroll 0 0 transparent;
    border: 0;
    cursor: pointer;
    height: 21px;
    width: 69px;
    margin: 10px 0;
    text-indent: -9999px
}

#Login .mainWrap form .submitBtn {
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/submit-email.jpg) no-repeat scroll 0 0 transparent;
    border: 0;
    cursor: pointer;
    height: 21px;
    width: 75px;
    margin: 10px 0;
    text-indent: -9999px
}

#Login .widgetMid .title2 {
    color: #000;
    display: block;
    font-weight: bold
}

#Login .mainWrap .resetPwd {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
    text-decoration: underline
}

#Login .mainWrap .copy3 {
    display: block;
    font-size: 11px;
    line-height: 15px;
    margin-top: 7px;
    margin-bottom: 10px
}

#Login form {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 10px
}

#Login .email_stat_message {
    color: #c50e2a;
    font-size: 12px;
    border: 0
}

#Login .suggested-email {
    cursor: pointer
}

#MyAcctForgotPwd {
    display: none
}

#MyAcctForgotPwd .email_stat_message {
    color: #c50e2a;
    font-size: 12px;
    border: 0
}

#MyAcctForgotPwd .suggested-email {
    cursor: pointer
}

.err-mess {
    color: #333;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px 10px 3px 6px;
    width: 215px
}

.err-succ {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #090
}

.err-err {
    background: none repeat scroll 0 0 #f4e6e6;
    border: 1px solid #d7a6a6
}

.err-img {
    margin-top: 2px;
    float: left;
    margin-left: 5px;
    margin-right: 10px
}

#TrackOrderForm {
    padding: 15px 30px 10px 30px
}

@media(max-width:768px) {
    #TrackOrderForm {
        padding: 10px
    }

    #TrackOrderForm .mainWrap form>ul.form>li>input {
        min-height: 30px !important
    }
}

#TrackOrderForm a.trackOrderAnchor,
#TrackOrderForm a.trackOrderAnchor:hover {
    color: #666;
    text-decoration: none
}

#TrackOrderForm .trackOrderFormBody {
    padding: 7px 17px 15px 17px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background: transparent url(https://images.usapimg.com/sites/usap-mycart/design/track-bg.jpg) no-repeat top right;
    height: auto;
    clear: both
}

#TrackOrderForm h4 {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 10px 0;
    color: #06428d
}

#TrackOrderForm p {
    margin: 0 0 7px 0
}

#TrackOrderForm form .errorMessage {
    padding: 6px 10px 6px 35px;
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/warning.gif) no-repeat left #f4e6e6;
    border: 1px solid #d7a6a6;
    border-radius: 0;
    font-size: 11px;
    line-height: 14px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px
}

#TrackOrderForm .form {
    width: 100%;
    color: #767676;
    font-size: 11px;
    line-height: 14px;
    list-style: none
}

#TrackOrderForm .mainWrap form>ul.form>li>label {
    color: gray;
    font-size: 11px;
    font-weight: bold;
    display: block
}

#TrackOrderForm .mainWrap form>ul.form>li>input {
    border: 1px solid #CCC;
    border-radius: 0;
    font-size: 12px;
    min-height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px
}

#TrackOrderForm .form input[type='text']:hover,
#TrackOrderForm .form input[type='text']:focus {
    border: 1px solid #888
}

#TrackOrderForm .trckSubmitBtn {
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/track-my-ac.jpg) no-repeat scroll 0 0 transparent;
    border: 0;
    cursor: pointer;
    height: 21px;
    width: 69px;
    margin: 10px 0
}

#TrackOrderForm .email_stat_message {
    color: #c50e2a;
    font-size: 12px;
    border: 0
}

#TrackOrderForm .suggested-email {
    cursor: pointer
}

#Registration {
    border-left: 1px solid #e4e4e4;
    margin-top: 24px;
    padding: 0 50px 0 30px
}

@media(max-width:768px) {
    #Registration {
        border-left: 1px solid #e4e4e4;
        margin-top: 24px;
        padding: 10px
    }

    #Registration .form li.span12:first-child {
        padding-left: 0 !important
    }

    #Registration form>ul.form>li input {
        min-height: 30px !important
    }
}

#Registration span {
    color: #666;
    display: block;
    font-size: 12px;
    margin-bottom: 10px
}

#Registration h2 {
    color: #333;
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 5px 0
}

#Registration input.required {
    color: #000
}

#Registration .required {
    font-size: 12px;
    margin: 13px 0 7px 0
}

#Registration .copy1 {
    color: #06428d;
    color: #343434;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 10px 0
}

#Registration .copy2 {
    display: block;
    margin-bottom: 10px
}

#Registration .mainWrap {
    background: transparent url(https://images.usapimg.com/sites/usap-mycart/design/create-bg.jpg) no-repeat top right;
    border: 1px solid #ccc;
    margin-top: 10px;
    overflow: hidden;
    padding: 7px 17px
}

#Registration form>.title1 {
    color: #000;
    font-size: 12px;
    font-weight: bold
}

#Registration form>ul.form>li label {
    color: #767676;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px
}

#Registration form>ul.form>li input {
    border: 1px solid #CCC;
    border-radius: 0;
    font-size: 12px;
    min-height: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 4px
}

#Registration form>ul.form>li input:hover,
#Registration form>ul.form>li input:focus {
    border: 1px solid #888
}

#Registration .RegistrationBtn {
    display: block;
    margin-bottom: 5px
}

#Registration .title2 {
    color: #000;
    display: block;
    font-weight: bold
}

#Registration .resetPwd {
    font-size: 11px;
    text-decoration: underline
}

#Registration .createAccountBtn {
    background: url(https://images.usapimg.com/sites/usap-mycart/design/myaccount/create-my-ac.jpg) no-repeat scroll 0 0 transparent;
    border: 0;
    display: block;
    cursor: pointer;
    height: 21px;
    margin: 10px 0;
    width: 148px;
    text-indent: -9999px
}

#Registration .noted span {
    color: #999;
    float: left;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: -15px;
    width: 100%
}

#Registration form>ul.form>li label.error {
    display: inline;
    padding-left: 10px;
    font-weight: normal;
    font-style: italic;
    color: red
}

#Registration form>span.error {
    font-weight: normal;
    color: red
}

#Registration .form li.span12:first-child {
    padding-left: 5px
}

#Registration .email_stat_message {
    color: #c50e2a;
    font-size: 12px;
    border: 0
}

#Registration .suggested-email {
    cursor: pointer
}

@media(max-width:767px) {
    #Registration form>ul.form>li label.error {
        display: block;
        margin-bottom: 10px
    }
} */